/* /Users/anoiv/mySpace/chaofun/pages/home/home.ttss */
.homeMenuBar {
  height: 80rpx;
  width: 100vw;
}

.homeMenuBar .cu-item {
  width: auto;
  text-align: center;
  margin: 0;
  border: none;
  height: 80rpx;
  line-height: 80rpx;
  position: relative;
  display: inline-block;
  font-size: 30rpx;
}

.cu-item.text-orange.cur {
  font-weight: bolder;
  border-bottom: 2px solid #f37b1d;
}
